.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div[class*=control] {
  display: flex;
  flex-direction: row-reverse;
}

.clearIndicatorSelect {
  margin-left: 10px;
}

div.css-1rhbuit-multiValue>div:nth-child(2) {
  /* display: none; */
  background: #ab9ce6;
  color: #4808bf;
}

div.css-1rhbuit-multiValue>div:nth-child(2):hover {
  /* display: none; */
  background: #ab9ce6;
  color: #4808bf;
}

.multiSelect {
  height: 100%;
}

.firstSection{
  display: flex;
  display: flex;
  align-items: center;
}

.aboutSeparator {
  display: flex;
  width: 120%;
  justify-content: space-between;
}

.trashIcon {
  margin-right: 8px;
}

.trashIcon > svg {
  margin-right: 8px;
  color: #4808bf;;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4b4d4f;
  font-size: 16px;
  padding-left: 8px;
}